.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Message {
  background-color: black;
  color: white;

}

.Image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.Button1 {
  background-color: rgb(235, 34, 34);
  color: blxack;
  width: 75px;
  height: 50px;
  box-shadow: 1px 1px 20px 0px;
  border-radius: 20px;
  
}